.social-icons{text-align: right;}
#carouselExampleControls.carousel .carousel-item img {
    max-height: 450px;
    min-width: auto;
  }
.loginform{
    top:22%;
    right:10%;
    width:30%;
    background:rgba(0,0,0,0.6);
    border-radius:15px;
}
.about_block{
   align-items: center;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 100px 0px 160px;
}
.about_block h3{
    font-size: 62px;
    letter-spacing: -1px;
    padding-bottom: 40px;
}
.about_block p{
    font-size: 37px;
    color:yellowgreen;
    margin-bottom: 0px;
}
.experience{
    margin-top:-120px;
}
.experience-single{
    padding:10x;
    height:400px;
    width: 250px;
    overflow: hidden;
}
.container .card {
    max-width: 300px;
    height: 400px;
    margin: 30px 10px;
    padding: 20px 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out
}

.container .card:hover {
    height: 650px
}

.container .card .imgContainer {
    position: relative;
    width: 250px;
    height: 377px;
    top: -50px;
    left: 10px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2)
}

.container .card .imgContainer img {
    max-width: 100%;
    border-radius: 4px
}

.container .card .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out
}

.container .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s
}
.container .card h2{font-size: 28px;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
@media (max-width: 330px) {
    .container .card .imgContainer {
        left: -2px
    }
   
}
.bg-lightblue{background-color:#e3e7f1;}
img{max-width:100%;}
.btnclass{
    margin:0px auto;
    background-color: green;
    padding:5px;
    font-size: 16px;
    text-transform: uppercase;
    color:#fff;
    border:0px;
    border-radius: 15px;
}
.social .yt {
    background-color: #ba2025
}

.social .ig {
    background-color: #5280a5
}

.social .fb {
    background-color: #3b5999
}

.social .tw {
    background-color: #27aae1
}

.social .gl {
    background-color: #de4b38
}

.social .wa {
    background-color: #189d0e
}
.social .pn {
    background-color: #E60023
}

.social .lk {
    background-color: #0e76a8
}
.social li a {
    display: block;
    text-align: center;
    width: 80px;
    height: 80px;
    padding: 20px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    color: #ffffff;
    cursor: pointer;
    line-height: 40px;
    font-size: 30px;
}
.social li i{color:#fff;}
.bg-green{background-color: rgb(25,135,84);}
.display_mobile{display: none;}
.single_district h1{
    font-size:36px;
}
.single_district p{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 16px;
line-height:26px;
}
/* The overlay effect - lays on top of the container and over the image */
.overlay {
    position: absolute;
    top: 20%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    height: auto;
    transition: .5s ease;
    opacity:0;
    color: white;
    padding: 20px 40px;
    text-align: left;
}
  
  /* When you mouse over the container, fade in the overlay title */
  .banner .overlay {
    opacity: 1;
  }
  .banner{position: relative;}
  .kozhikode_dist{
      background:url(../images/kozhikode/kozhikode-sketch.jpg) no-repeat center right;
      background-size: cover;
  }
  .owl-item img{
    box-shadow: 0px 3px 15px rgb(0 0 0 / 40%);
  }
@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px)
{
    .loginform{
      display: none;
    }
    .about_block{
        padding:60px 0px 80px;
    }
    .display_mobile{display: block;}
}