.social-icons{text-align: right;}
#carouselExampleControls.carousel .carousel-item img {
    max-height: 450px;
    min-width: auto;
  }
.loginform{
    top:22%;
    right:10%;
    width:30%;
    background:rgba(0,0,0,0.6);
    border-radius:15px;
}
.about_block{
   align-items: center;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 100px 0px 160px;
}
.about_block h3{
    font-size: 62px;
    letter-spacing: -1px;
    padding-bottom: 40px;
}
.about_block p{
    font-size: 37px;
    color:yellowgreen;
    margin-bottom: 0px;
}
.experience{
    margin-top:-120px;
}
.experience-single{
    padding:10x;
    height:400px;
    width: 250px;
    overflow: hidden;
}
.container .card {
    max-width: 300px;
    height: 400px;
    margin: 30px 10px;
    padding: 20px 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out
}

.container .card:hover {
    height: 650px
}

.container .card .imgContainer {
    position: relative;
    width: 250px;
    height: 377px;
    top: -50px;
    left: 10px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2)
}

.container .card .imgContainer img {
    max-width: 100%;
    border-radius: 4px
}

.container .card .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out
}

.container .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s
}
.container .card h2{font-size: 28px;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
@media (max-width: 330px) {
    .container .card .imgContainer {
        left: -2px
    }
   
}
.bg-lightblue{background-color:#e3e7f1;}
img{max-width:100%;}
.btnclass{
    margin:0px auto;
    background-color: green;
    padding:5px;
    font-size: 16px;
    text-transform: uppercase;
    color:#fff;
    border:0px;
    border-radius: 15px;
}
.social .yt {
    background-color: #ba2025
}

.social .ig {
    background-color: #5280a5
}

.social .fb {
    background-color: #3b5999
}

.social .tw {
    background-color: #27aae1
}

.social .gl {
    background-color: #de4b38
}

.social .wa {
    background-color: #189d0e
}
.social .pn {
    background-color: #E60023
}

.social .lk {
    background-color: #0e76a8
}
.social li a {
    display: block;
    text-align: center;
    width: 60px;
    height: 60px;
    padding: 20px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    color: #ffffff;
    cursor: pointer;
    line-height: 15px;
    font-size: 23px;
}
.social li i{color:#fff;}
.bg-green{background-color: rgb(25,135,84);}
.display_mobile{display: none;}
.single_district h1{
    font-size:36px;
}
.single_district p{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 16px;
line-height:26px;
}
/* The overlay effect - lays on top of the container and over the image */
.overlay {
    position: absolute;
    top: 20%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    height: auto;
    transition: .5s ease;
    opacity:0;
    color: white;
    padding: 20px 40px;
    text-align: left;
}
  
  /* When you mouse over the container, fade in the overlay title */
  .banner .overlay {
    opacity: 1;
  }
  .banner{position: relative;}
  .kozhikode_dist{
      background:url(../images/kozhikode/kozhikode-sketch.jpg) no-repeat center right;
      background-size: cover;
  }
  .owl-item img{
    box-shadow: 0px 3px 15px rgb(0 0 0 / 40%);
  }
  .box-icon{
    background: #0d6efd;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border-width: 1px;
    border-style: solid;
    border-color:#0d6efd;
    text-align: center;
    position: relative;
  }
  .box-icon i{font-size: 28px;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

}
.navbar-light .navbar-nav .nav-link{font-size: 16px;color: #000;}
.navbar-light .navbar-nav .nav-link:hover{color: #ba2025;}

/* CSS */
.button-18 {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}
@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px)
{
    .loginform{
      display: none;
    }
    .about_block{
        padding:60px 0px 80px;
    }
    .display_mobile{display: block;}
}